<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home</title>

<meta name="keywords" content="Home" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.css}" />

<link rel="stylesheet" href="css/styles.css" />		

<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>		


</head>

<body>


</body>

</html>